.projectCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;

  border: 1px solid var(--clr-gray-2);
  border-radius: .8rem;
}

.cardHeader {
  display: flex;
  align-items: center;

  .thumb {
    width: fit-content;
    height: fit-content;
  
    flex-shrink: 0;
    padding: 1rem;
    margin-right: 1rem;
  
    border-radius: .8rem;
  
    line-height: 0;
  
    background-color: var(--clr-gray-2);
  }

  h3 {
    margin-right: auto;

    font-size: 2rem;
    font-weight: 400;
    color: var(--clr-title);
  }

  .createdAt {
    font-size: 1.3rem;
    color: var(--clr-text);
  }
}


.details {
  p {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 1.5em;
    word-wrap: break-word;

    color: var(--clr-text);
  }
}

.screenshots {
  margin-top: 1rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;

  a {
    display: flex;
    align-items: center;
    gap: .5rem;

    line-height: 0;
    font-size: 1.2rem;
    text-decoration: none;

    transition: transform .2s;

    &:hover {
      transform: scale(.96);
    }
  }

  .sourceCode {
    padding: 1rem;
    
    border-radius: .8rem;

    color: var(--clr-text);

    &:hover {
      background-color: var(--clr-gray-2);
    }
  }

  .demoLink {
    padding: 1rem;
    border-radius: .8rem;

    text-decoration: none;
    line-height: 0;

    color: var(--clr-text);
    background-color: var(--clr-gray-2);

    .demoLinkImage {
      transform: rotate(-45deg);
    }
  }
}