@import '../../mixins';

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0;
  margin-top: 2rem;

  border-top: 1px solid var(--clr-gray-2);

  .siteDetails p {
    font-size: 1.4rem;
    line-height: 2em;
    color: var(--clr-text);
  }

  @include tablet {
    text-align: center;
    flex-direction: column;
  }
}