@import '../../_mixins.scss';

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 3rem 0;

  background-color: var(--clr-bg);

  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: .5rem;
    background: linear-gradient(90deg, #273BEB, #EB27CC, #D61E1E);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    max-width: 90rem;
    margin: 0 auto;

    @include tablet {
      justify-content: center;
    }
  }
}

.navLinks {
  display: flex;
  gap: .5rem;
  list-style: none;
  
  .link {
    display: flex;

    a {
      padding: 1rem 1.5rem;
      font-size: 1.3rem;
      text-decoration: none;
      color: var(--clr-text);
  
      &.linkHighlight, &:hover {
        background-color: var(--clr-gray-2);
      }
    }
  }

  .downloadCv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;

    border-radius: .8rem;

    background-clip: content-box, border-box;
    background-image: 
      linear-gradient(to right, var(--clr-bg), var(--clr-bg)),
      linear-gradient(90deg, #273BEB, #EB27CC, #D61E1E);
    
    a {
      display: flex;
      align-items: center;
      gap: .5rem;

      padding: 1rem;

      text-decoration: none;
      font-size: 1.3rem;
      color: var(--clr-text);

      overflow: hidden;

      .arrowSvg {
        transform: rotate(90deg);
      }
    }
  }
}