---
import { Image } from "astro:assets";
import PageLayout from "~/layouts/PageLayout.astro";

import aboutImage from "../assets/images/mononoke.png";
---

<PageLayout title="About">
  <div class="flex-1 flex flex-col sm:flex-row gap-6 max-w-3xl mx-auto my-8 px-5">
    <div class="relative sm:w-56 shrink-0 h-fit" transition:name="about">
      <Image
        src={aboutImage}
        alt="Caio Vinícius"
        loading="eager"
        class="aspect-square sm:aspect-auto w-full rounded-2xl object-cover"
      />

      <h1 class="absolute inset-0 flex flex-col justify-end p-6 rounded-2xl text-lg md:text-2xl text-white font-medium bg-gradient-to-b from-transparent to-[#18181b]/90">
        Caio Vinícius
      </h1>
    </div>

    <div class="space-y-4">
      <section class="space-y-4">
        <h2 class="text-2xl font-medium">About</h2>

        <p class="leading-relaxed">
          Student of Systems Analysis and Development passionate about the back-end
          and front-end area. Currently specializing in TypeScript, Node.js, React
          and Next.js. Recently I also started to get interested in GO for a more
          performative Back-End and C/C++ along with Assembly to understand more
          how things work.
        </p>

        <p>
          In my free time, I like to watch some anime, listening to music, and
          from time to time playing something that my computer can run.
        </p>
      </section>

      <section class="space-y-4">
        <h2 class="text-2xl font-medium">Experiences</h2>

        <ol class="space-y-2 divide-y">
          <li>
            <time class="text-sm">Jun 2022 - Sep 2022</time>
            <h3 class="text-xl font-medium mb-1">Product Designer</h3>
            <p class="leading-relaxed">
              Knowledge of Product Design; Agile SCRUM Methodology, Security in Web
              applications, Figma and Figjam, Microsoft package, Double Diamond 
              methodology and Interface Design principles.
            </p>
          </li>
        </ol>
      </section>
    </div>
  </div>
</PageLayout>