---
import { Image } from "astro:assets";
import PageLayout from "~/layouts/PageLayout.astro";

import devImage from "../assets/images/violet.png";
---

<PageLayout title="Dev">
  <div class="flex-1 flex flex-col sm:flex-row gap-6 max-w-3xl mx-auto my-8 px-5">
    <div class="relative" transition:name="dev">
      <Image
        src={devImage}
        loading="eager" 
        alt="Developer" 
        class="w-full rounded-2xl aspect-square sm:aspect-auto object-cover"
      />

      <h1 class="absolute inset-0 flex flex-col justify-end p-6 rounded-2xl text-lg md:text-2xl text-white font-medium bg-gradient-to-b from-transparent to-[#18181b]/90">
        Developer
      </h1>
    </div>

    <p>Definitely a developer.</p>
  </div>
</PageLayout>