---
import PageLayout from "~/layouts/PageLayout.astro"
---

<PageLayout>
    <main class="space-y-2">
        <figure class="p-1 mb-8 rounded-2xl bg-white border border-zinc-200 shadow-sm dark:bg-zinc-800 dark:border-zinc-800 dark:shadow-zinc-700">
            <img src="/images/mai.jpg" alt="Mai Minakami" class="rounded-xl">
        </figure>

        <h1 class="text-xl">Caio Vinícius</h1>
        <p class="text-zinc-600 dark:text-zinc-300">
            Salutations! I’m a Full-Stack Developer that transmute a piece of nothing 
            into a piece of something.
        </p>
        <p class="text-zinc-600 dark:text-zinc-300">
            In my free time I watch animes and listen a bit of music.
        </p>
        <p class="text-zinc-600 dark:text-zinc-300">
            If you would like to contact me about an opportunity or to share experiences, 
            please feel free to do so.
        </p>

        <ul class="flex flex-wrap items-center gap-4 sm:flex-nowrap">
            <li>
                <a href="https://linkedin.com/in/caiocamargo007" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 dark:text-purple-300">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="https://github.com/SadS4ndWiCh" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 dark:text-purple-300">
                    GitHub
                </a>
            </li>
            <li>
                <a href="mailto:hi@caiovinicius.xyz" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 dark:text-purple-300">
                    hi@caiovinicius.xyz
                </a>
            </li>
            <li>
                <a href="/caiovinicius-public-key.asc" download class="underline underline-offset-2 dark:text-purple-300">
                    public gpg
                </a>
            </li>
            <li>
                <a href="/cv.pdf" target="_blank" class="underline underline-offset-2 dark:text-purple-300">
                    cv
                </a>
            </li>
        </ul>
    </main>
</PageLayout>
