---
import PostImage from "~/components/PostImage.astro"
import PageLayout from "~/layouts/PageLayout.astro"
---

<PageLayout>
    <main class="relative space-y-2">
        <h1>Caio Vinícius</h1>
        <p>
            Salutations! I’m a Full-Stack Developer that transmute a piece of nothing 
            into a piece of something.
        </p>
        <p>
            In my free time I watch animes and listen a bit of music.
        </p>
        <p>
            If you would like to contact me about an opportunity or to share experiences, 
            please feel free to do so.
        </p>

        <ul class="flex items-center gap-4">
            <li>
                <a href="http://linkedin.com/in/caiocamargo007" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="http://github.com/SadS4ndWiCh" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    GitHub
                </a>
            </li>
            <li>
                <a href="mailto:hi@caiovinicius.xyz" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    hi@caiovinicius.xyz
                </a>
            </li>
            <li>
                <a href="/caiovinicius-public-key.asc" download class="underline underline-offset-2">
                    public gpg key
                </a>
            </li>
            <li>
                <a href="/cv.pdf" target="_blank" class="underline underline-offset-2">
                    cv
                </a>
            </li>
        </ul>

        <!-- ITS WORKS SO ITS GOOD -->
        <div class="flex flex-wrap pt-4 justify-center lg:absolute lg:top-0 lg:left-0 lg:flex-col lg:-translate-x-full lg:pr-8">
            <PostImage src="/images/skip-and-loafer.png" alt="Skip and Loafer" class="-rotate-6" />
            <PostImage src="/images/look-back.png" alt="Skip and Loafer" class="rotate-3 lg:-mt-10 lg:-translate-x-5" />
            <PostImage src="/images/suzume.png" alt="Skip and Loafer" class="rotate-12 lg:-mt-10" />
            <PostImage src="/images/overlord.png" alt="Skip and Loafer" class="rotate-15 lg:-mt-10" />
        </div>
    </main>
</PageLayout>
