---
import PostImage from "~/components/PostImage.astro"
import PageLayout from "~/layouts/PageLayout.astro"
---

<PageLayout>
    <main class="relative space-y-2">
        <figure class="p-1 rounded-2xl bg-white border border-zinc-200 shadow-sm">
            <img src="/images/mai.jpg" alt="Mai Minakami" class="rounded-xl">
        </figure>

        <h1>Caio Vinícius</h1>
        <p>
            Salutations! I’m a Full-Stack Developer that transmute a piece of nothing 
            into a piece of something.
        </p>
        <p>
            In my free time I watch animes and listen a bit of music.
        </p>
        <p>
            If you would like to contact me about an opportunity or to share experiences, 
            please feel free to do so.
        </p>

        <ul class="flex flex-wrap items-center gap-4 sm:flex-nowrap">
            <li>
                <a href="http://linkedin.com/in/caiocamargo007" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="http://github.com/SadS4ndWiCh" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    GitHub
                </a>
            </li>
            <li>
                <a href="mailto:hi@caiovinicius.xyz" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">
                    hi@caiovinicius.xyz
                </a>
            </li>
            <li>
                <a href="/caiovinicius-public-key.asc" download class="underline underline-offset-2">
                    public gpg
                </a>
            </li>
            <li>
                <a href="/cv.pdf" target="_blank" class="underline underline-offset-2">
                    cv
                </a>
            </li>
        </ul>
    </main>
</PageLayout>
