---
import { Image } from "astro:assets"

import bannerImage from "~/assets/banner.png";

import PageLayout from "~/layouts/PageLayout.astro"
---

<PageLayout>
  <Image
    src={bannerImage}
    alt="A cool anime girl eyes in grayscale"
    loading="eager"
  />

  <section class="mt-8 space-y-4">
    <h1>~ Caio Vinícius</h1>
    <p>
      A simple person that loves music and anime, oh, and programming obvious... He 
      knows something but wants to know more.
    </p>
  </section>

  <ul class="flex items-center gap-4 mt-4 text-zinc-500">
    <li class="hover:text-zinc-900">
      <a href="https://github.com/SadS4ndWiCh" target="_blank" rel="norefeerer">
        GitHub
      </a>
    </li>
    <li class="hover:text-zinc-900">
      <a href="https://linkedin.com/in/caiocamargo007" target="_blank" rel="norefeerer">
        LinkedIn
      </a>
    </li>
    <li class="hover:text-zinc-900">
      <a href="mailto:caiocamargo.ct@gmail.com">
        Email
      </a>
    </li>
  </ul>
</PageLayout>