.container {
  h1 {
    font-size: 5rem;
    font-weight: 500;
    color: var(--clr-title);
  }

  main {
    margin-top: 2rem;
  }
}

.postsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}