---
import { allLangs, langs, useLang } from '~/i18n';
import { getLanguageFromURL } from '~/i18n/utils';

const pageLang = getLanguageFromURL(Astro.url.pathname);

const t = useLang(pageLang);
---

<select
    name="language"
    id="language"
    aria-label={t('change-language_select.aria-label')}
    class="flex items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1"
>
    {allLangs.map(lang => (
        <option
            value={lang}
            selected={lang === pageLang}
            class="bg-background text-foreground"
        >
            {langs[lang]}
        </option>
    ))}
</select>

<script>
    import { defaultLang } from "~/i18n";

    document.querySelector('select')?.addEventListener('change', (e) => {
        if (!(e.currentTarget instanceof HTMLSelectElement)) return;

        const lang = e.currentTarget.value === defaultLang ? '' : e.currentTarget.value;
        const normalizedPathname = window.location.pathname.replace(/^\/([a-z]{2}-?[a-z]{0,2})/, '');

        window.location.href = `${lang}${normalizedPathname}`;
    });
</script>