---
import { getCollection } from "astro:content";
import { getLanguageFromURL } from "~/i18n/utils";

const experiences = await getCollection('experiences')

const lang = getLanguageFromURL(Astro.url.pathname);

const dateFormatter = new Intl.DateTimeFormat(lang, {
	dateStyle: "medium"
});
---

<ul>
	{
		experiences
			.filter(experience => experience.slug.startsWith(lang))
			.map(({ data: experience }) => (
				<li class="relative ml-4 border-l border-border pb-4 pl-4">
					<div class="absolute left-0 h-4 w-4 -translate-x-1/2 rounded-full border border-border bg-background" />

					<h3>{experience.company}</h3>
					<p class="my-2 text-muted-foreground">{experience.description}</p>

					<div class="flex items-center gap-2 text-sm text-muted-foreground">
						<time datetime={experience.startsAt}>
							{dateFormatter.format(new Date(experience.startsAt))}
						</time>

						{experience.endsAt && (
							<>
								<span>&bull;</span>
								<time datetime={experience.endsAt}>
									{dateFormatter.format(new Date(experience.endsAt))}
								</time>
							</>
						)}
					</div>
				</li>
		))
	}
</ul>
