---
import ChangeLanguage from "./ChangeLanguage.astro";
import Socials from "./Socials.astro";
---

<footer class="flex flex-col items-center justify-between gap-4 text-sm text-muted-foreground sm:flex-row">
	<p>&copy; Caio Vinícius</p>

	<Socials />

	<ChangeLanguage />
</footer>
