---
import { getCollection } from "astro:content";

import { getLanguageFromURL } from "~/i18n/utils";
import ProjectItem from "./ProjectItem.astro";

const projects = await getCollection('projects');

const lang = getLanguageFromURL(Astro.url.pathname);
---

<div class="space-y-4">
	{
		projects
			.filter(project => project.slug.startsWith(lang))
			.map(({ data }) => ( <ProjectItem data={data} /> ))
	}
</div>