<footer class="max-w-3xl mx-auto my-8 px-5 flex justify-between text-sm">
  <p>Caio Vinícius &copy; 2024</p>

  <ul class="flex items-center gap-4">
    <li>
      <a
        href="http://github.com/SadS4ndWiCh"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline underline-offset-2"
      >
        GitHub
      </a>
    </li>
    <li>
      <a
        href="http://linkedin.com/in/caiocamargo007"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline underline-offset-2"
      >
        LinkedIn
      </a>
    </li>
  </ul>
</footer>